<div class="nav-item btn-group">
    <button type="button" class="btn btn-outline-light dropdown-toggle position-relative" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-bell"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            3
            <span class="visually-hidden">unread messages</span>
        </span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <div class="dropdown-item">
                <div class="fw-bold">Heading 1</div>
                Content for list item.
            </div>
        </li>
        <li>
            <div class="dropdown-item">
                <div class="fw-bold">Heading 2</div>
                Content for list item.
            </div>
        </li>
        <li>
            <div class="dropdown-item">
                <div class="fw-bold">Heading 3</div>
                Content for list item.
            </div>
        </li>
    </ul>
</div>