@using Hermes.Client.Web.Models.Shared
@model ErrorViewModel

@{
    ViewData["Title"] = $"Error {Model.StatusCode}";
}

<div class="d-flex flex-column align-items-center justify-content-center">
    <h1 class="display-1 fw-bold">@Model.StatusCode</h1>
    <h2 class="font-weight-normal lead">@Model.Message</h2>
</div>